<div ng-include="'components/navbar/navbar.html'"></div>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="#" ng-click="changeLog(item.title)">{{item.title}}</a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</div>
<select class="form-control" ng-model="env" ng-options="env as env for env in environments" style="margin: 25px; width: 13%;">
    <option value="">Select Environment</option>
</select>
<div class="container">
    <div class="panel panel-primary agentContainer" ng-repeat="agent in agents.status" ng-if="agent.agentName" ng-click="selectAgent(agent)">
        <div class="panel-heading">{{agent.agentName}}</div>
        <div class="panel-body">
            <p>Status: {{agent.latetStatus}}</p>
        </div>
    </div>
    <div class="panel panel-primary agentContainer" ng-repeat="agent in agents.status| filter:env" ng-hide="agent.agentName">
        <div class="panel-heading">{{agent.agent.name}}</div>
        <div class="panel-body">
            <p ng-if="agent.agentExtension">Extension: {{agent.agentExtension}}</p>
            <p ng-if="agent.logType">Log Type: {{agent.logType}} </p>
            <p ng-if="agent.error.errorType">Error: {{agent.error.errorType}} </p>
            <p ng-if="agent.error.errorMessage">Error detail: {{agent.error.errorMessage}} </p>
            <p ng-if="agent.callInfo.Calldirection">Direction: {{agent.callInfo.Calldirection}} </p>
            <p ng-if="agent.callInfo.number">Number: {{agent.callInfo.number}} </p>
            <p ng-if="agent.callInfo.callType">Call Type: {{agent.callInfo.callType}} </p>
            <p ng-if="agent.callInfo.duration">Call Duration: {{agent.callInfo.duration}} </p>
            <p ng-if="agent.webSocket.webSocketFunction">Function: {{agent.webSocket.webSocketFunction}} </p>
            <p ng-if="agent.webSocket.webSocketBody">webSockect Body: {{agent.webSocket.webSocketBody}} </p>
            <p ng-if="agent.webSocket.duration">WebSockectDuration: {{agent.webSocket.duration}} </p>
            <p ng-if="agent.webSocket.confirmation">webSocketConfirmation: {{agent.webSocket.confirmation}}</p>
            <p ng-if="agent.status.newStatus">Activie Status: {{agent.status.newStatus}} </p>
            <p ng-if="agent.status.statusDuration">Active Duration: {{agent.status.statusDuration}} </p>
            <p ng-if="agent.status.previewsStatus">Previews Status: {{agent.status.previewsStatus}} </p>
            <p ng-if="agent.freeSwitch.duration">Freeswitch Duration: {{agent.freeSwitch.duration}} </p>
            <p ng-if="agent.timeStamp">timeStamp: {{agent.timeStamp| date:'medium': UTC}}</p>
            <p ng-if="agent.ip.agent">Ip: {{agent.agent.ip}} </p>
            <p ng-if="agent.freeSwitchAddress">freeSwitch: {{agent.freeSwitchAddress}} </p>
            <p ng-if="agent.webSocket">WebSocket: {{agent.webSocket}} </p>
            <p ng-if="agent.uuId">UUID: {{agent.uuId}} </p>
        </div>
    </div>
    <input type="text" ng-model="filter" class="form-control" placeholder="filter" ng-show="liveMode">
    <div class="panel panel-primary" ng-repeat="agent in liveLogs | orderBy : '-timeStamp'| filter:filter">
        <div class="panel-heading">{{agent.agent.name}}</div>
        <div class="panel-body">
            <p ng-hide="agent.agentExtension==undefined||agent.agentExtension == ''">Extension: {{agent.agentExtension}}</p>
            <p ng-hide="agent.logType==undefined||agent.agentExtension == ''">Log Type: {{agent.logType}} </p>
            <p ng-hide="agent.error.errorType == undefined||agent.error.errorType == ''">Error: {{agent.error.errorType}} </p>
            <p ng-hide="agent.error.errorMessage == undefined||agent.error.errorMessage == ''">Error detail: {{agent.error.errorMessage}} </p>
            <p ng-hide="agent.callInfo.Calldirection==undefined||agent.callInfo.Calldirection == ''">Direction: {{agent.callInfo.Calldirection}} </p>
            <p ng-hide="agent.callInfo.number==undefined||agent.callInfo.number==0">Number: {{agent.callInfo.number}} </p>
            <p ng-hide="agent.callInfo.callType==undefined||agent.callInfo.callType==0">Call Type: {{agent.callInfo.callType}} </p>
            <p ng-hide="agent.callInfo.duration == undefined||agent.callInfo.duration==0">Call Duration: {{agent.callInfo.duration}} </p>
            <p ng-hide="agent.webSocket.webSocketFunction==undefined||agent.webSocket.webSocketFunction == ''">Function: {{agent.webSocket.webSocketFunction}} </p>
            <p ng-hide="agent.webSocket.webSocketBody==undefined||agent.webSocket.webSocketBody == ''">webSockect Body: {{agent.webSocket.webSocketBody}} </p>
            <p ng-hide="agent.webSocket.duration==undefined||agent.webSocket.duration == ''">WebSockectDuration: {{agent.webSocket.duration}} </p>
            <p ng-hide="agent.webSocket.confirmation==undefined||agent.webSocket.confirmation == ''">webSocketConfirmation: {{agent.webSocket.confirmation}}</p>
            <p ng-hide="agent.status.newStatus == undefined||agent.status.newStatus == ''">Activie Status: {{agent.status.newStatus}} </p>
            <p ng-hide="agent.status.statusDuration==undefined||agent.status.statusDuration==0">Active Duration: {{agent.status.statusDuration}} </p>
            <p ng-hide="agent.status.previewsStatus==undefined||agent.status.previewsStatus == ''">Previews Status: {{agent.status.previewsStatus}} </p>
            <p ng-hide="agent.freeSwitch.duration==undefined||agent.freeSwitch.duration == ''">Freeswitch Duration: {{agent.freeSwitch.duration}} </p>
            <p ng-hide="agent.timeStamp==undefined||agent.timeStamp == ''">timeStamp: {{agent.timeStamp| date:'medium': UTC}}</p>
            <p ng-hide="agent.ip.agent==undefined||agent.ip.agent == ''">Ip: {{agent.agent.ip}} </p>
            <p ng-hide="agent.freeSwitchAddress==undefined||agent.freeSwitchAddress == ''">freeSwitch: {{agent.freeSwitchAddress}} </p>
            <p ng-hide="agent.webSocket==undefined||agent.webSocket == ''">WebSocket: {{agent.webSocket}} </p>
            <p ng-hide="agent.uuId==undefined||agent.uuId == ''">UUID: {{agent.uuId}} </p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>CopyRight @TMS |
            <a href="#">@Farzad Aziminia</a> |</p>
    </div>
</footer>
