<div ng-include="'components/navbar/navbar.html'"></div>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="#" ng-click="changeLog(item.title)">{{item.title}}</a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-primary agentContainer" ng-repeat="agent in agents.status">
        <div class="panel-heading">{{agent.agentName}}</div>
        <div class="panel-body">
            {{agent.error==''}}
            {{agent.error==undefined}}
            {{agent.error=='undefined'}}
            {{agent.error==null}}
            <p ng-hide="agent.agentExtension==null">Extension:{{agent.agentExtension}}</p>
            <p ng-hide="agent.logType==null">Log Type:{{agent.logType}} </p>
            <p ng-hide="agent.error==null">Error:{{agent.error}} </p>
            <p ng-hide="agent.callDirection==null">Direction:{{agent.callDirection}} </p>
            <p ng-hide="agent.number==null">Number:{{agent.number}} </p>
            <p ng-hide="agent.callDuration==null">Call Duration:{{agent.callDuration}} </p>
            <p ng-hide="agent.webSockectFunction==null">Function:{{agent.webSockectFunction}} </p>
            <p ng-hide="agent.webSockectBody==null">Function:{{agent.webSockectBody}} </p>
            <p ng-hide="agent.webSockectDuration==null">WebSockectDuration:{{agent.webSockectDuration}} </p>
            <p ng-show="agent.activieStatus==null">Activie Status:{{agent.activieStatus}} </p>
            <p ng-hide="agent.activeDuration==null">Active Duration{{agent.activeDuration}} </p>
            <p ng-hide="agent.previewsStatus==null">Previews Status:{{agent.previewsStatus}} </p>
            <p ng-hide="agent.timeStamp==null">timeStamp:{{agent.timeStamp}} </p>
            <p ng-hide="agent.ip==null">Ip:{{agent.ip}} </p>
            <p ng-hide="agent.freeSwitch==null">freeSwitch:{{agent.freeSwitch}} </p>
            <p ng-hide="agent.webSocket==null">WebSocket:{{agent.webSocket}} </p>
            <p ng-hide="agent.uuId==null">UUID:{{agent.uuId}} </p>
            
            
            {{agent.latetStatus}}

        </div>
    </div>
    <input type="text" ng-model="filter" class="form-control" placeholder="filter" ng-show="liveMode">
 <div class="panel panel-primary" ng-repeat="agent in liveLogs | orderBy : '-timeStamp'| filter:filter">
        <div class="panel-heading">{{agent.agentName}}</div>
        <div class="panel-body">
            {{agent.latetStatus}}
            {{agent.agentExtension}} {{agent.logType}} {{agent.error}} {{ agent.callDirection}} {{ agent.callType}} {{agent. number}} {{ agent.callDuration}} {{ agent.ip}} {{ agent.webSockectFunction}} {{ agent.webSockectBody}} {{ agent.webSockectDuration}} {{agent.activieStatus}} {{ agent.activeDuration}} {{ agent.uuId}} {{ agent.freeSwitch}} {{ agent.webSocket}} {{ agent.previewsStatus}} {{ agent.timeStamp}} {{agent.active}}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>CopyRight @TMS |
            <a href="#">@Farzad Aziminia</a> |</p>
    </div>
</footer>